<% if @search_form.errors.count > 0 %>
  <p>There were errors in your search. Please correct them and try again.</p>
  <ul>
    <% @search_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @search_form, {url: search_index_path, method: :get, html: {class: 'form-horizontal'}} do |f| %>
  <div class="form-group">
    <%= f.label :address, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :search_radius, 'Search Radius in Miles', class: 'col-sm-2 control-label' %>
    <div class="col-sm-1">
      <%= f.text_field :search_radius, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :specialties, 'Filter By Specialty:', class: 'col-sm-2 control-label' %>
    <br />
    <div class="checkbox">
      <% @specialties.in_groups_of(4) do |specialties| %>
        <div class="col-sm-2"></div>
        <%= f.collection_check_boxes(:specialties, specialties.compact, :id, :name) do |specialty| %>
          <%= specialty.label class: 'checkbox-inline col-sm-2' do %>
            <%= specialty.check_box %>
            <%= specialty.object.name %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.label :confirmed_by_gi, class: 'checkbox-inline col-sm-2' do %>
        <%= f.check_box :confirmed_by_gi %>
        <%= :confirmed_by_gi.to_s.humanize %>
      <% end %>
    </div>
  </div>
  <div>
    <%= submit_tag 'Search For Locations', class: 'btn btn-info' %>
  <div>
<% end %>
