<% if @search_form.errors %>
  <ul>
    <% @search_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @search_form, url: search_index_path, method: :get do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br />
  <%= f.label :search_radius, 'Search Radius in Miles' %>
  <%= f.text_field :search_radius %>
  <br />
  <%= f.label :specialties, 'Filter By Specialty' %>
  <%= f.collection_check_boxes(:specialties, @specialties, :id, :name) %>
  <br />
  <br />
  <%= submit_tag 'Search For Locations' %>
<% end %>
