<div id="search-page">
    <!-- Header for Internal Pages -->
    <header>
        <a href="/">Gender Infinity <span class="icon-infinity"></span> Resource Locator</a>
    </header>
     <!-- / Header for Internal Pages -->

    <section class="primary-content">
        <div class="wrapper">
            <!-- Search Form -->
            <div class="form-group">
                <span class="location-address">
                    <input type="text" placeholder="Location Address" tabindex="5"/>
                    <em class="icon-location"></em>
                </span>
                <span class="mile-radius">
                    <input type="text" placeholder="Mile Radius" tabindex="10"/>
                    <em class="icon-radius"></em>
                </span>
                <span class="search">
                    <input type="submit" name="search" class="btn" value="Search" tabindex="15">
                </span>
            </div>

            <!-- General Topics -->
            <h2 class="alt"><span>Choose a Service</span></h2>
            <div class="general-topic">
                <a href="#">all</a>
                <a href="#" class="active">educational resources</a>
                <a href="#">health</a>
                <a href="#">legal</a>
                <a href="#">child / youth</a>
                <a href="#">personal care</a>
                <a href="#">social support</a>
                <a href="#">surgery</a>
                <a href="#">mental health</a>
            </div>
        </div>
    </section>

    <!-- Specific Specialties -->
    <section class="specific-specialty">
        <button class="arrow" type="button">
            <span class="arrow-hand top"></span>
            <span class="arrow-hand bottom"></span>
        </button>
        <div class="menu" style="display:none;">
            <div class="wrapper">
                <h2>Looking for something more specific? Narrow your search within <strong>Educational Resources</strong></h2>
                <div class="column-wrap">
                    <div class="column">
                        <input type="checkbox" id="advocacy" name="advocacy">
                        <label for="advocacy">advocacy</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="blog-news" name="blog-news">
                        <label for="blog-news">blog news</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="community-resource" name="community-resource">
                        <label for="community-resource">community resources</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="cultural-competency-training" name="cultural-competency-training">
                        <label for="cultural-competency-training">cultural competency training</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="education" name="education">
                        <label for="education">education</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="international-resource" name="international-resource">
                        <label for="international-resource">international resource</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="national-resource" name="national-resource">
                        <label for="national-resource">national resources</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="research" name="research">
                        <label for="research">research</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="resource" name="resource">
                        <label for="resource">resource</label>
                    </div>
                    <div class="column">
                        <input type="checkbox" id="training-resource" name="training-resource">
                        <label for="training-resource">training resource</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="secondary-content">

        <!-- Google Map -->
        <div class="wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5958.294408540685!2d-93.62540800000001!3d41.695757799999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee8ff8091294c1%3A0x4c8017c457051f10!2sPetSmart+Ankeny!5e0!3m2!1sen!2sus!4v1464309397487" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <!-- Results -->
        <address>
            5 results found within 100 miles of <strong>1234 Main Street, New Orleans, LA 01234</strong>
        </address>

        <div class="location-results">
            <div class="wrapper">
                <span class="location">Location Name</span>
                <span class="address">1234 Main Street, New Orleans, LA 01234</span>
                <span class="phone">123-456-7890</span>
            </div>
            <div class="wrapper">
                <span class="location">Location Name</span>
                <span class="address">1234 Main Street, New Orleans, LA 01234</span>
                <span class="phone">123-456-7890</span>
            </div>
            <div class="wrapper">
                <span class="location">Location Name</span>
                <span class="address">1234 Main Street, New Orleans, LA 01234</span>
                <span class="phone">123-456-7890</span>
            </div>
            <div class="wrapper">
                <span class="location">Location Name</span>
                <span class="address">1234 Main Street, New Orleans, LA 01234</span>
                <span class="phone">123-456-7890</span>
            </div>
            <div class="wrapper">
                <span class="location">Location Name</span>
                <span class="address">1234 Main Street, New Orleans, LA 01234</span>
                <span class="phone">123-456-7890</span>
            </div>
        </div>
     </section>

    <!-- Callout -->
    <aside>
        <div class="wrapper">
            <h2>Know of any trans-friendly places?</h2>
            <p>Gender Infinity is a transgender-supportive community that brings together helpful resources and makes our world a better, safer place.<br /> Help by submitting to our database locations that serve your needs without hate.</p>
            <a class="btn" href="mailto:">Submit a Location</a>
        </div>
    </aside>
</div>

<!--<% if @search_form.errors.count > 0 %>
  <p>There were errors in your search. Please correct them and try again.</p>
  <ul>
    <% @search_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @search_form, {url: search_index_path, method: :get, html: {class: 'form-horizontal'}} do |f| %>
  <div class="form-group">
    <%= f.label :address, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :search_radius, 'Search Radius in Miles', class: 'col-sm-2 control-label' %>
    <div class="col-sm-1">
      <%= f.text_field :search_radius, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
<%= f.label :specialties, 'Filter By Specialty:', class: 'col-sm-2 control-label' %>
    <br />
    <div class="checkbox">
      <% @specialties.in_groups_of(4) do |specialties| %>
        <div class="col-sm-2"></div>
        <%= f.collection_check_boxes(:specialties, specialties.compact, :id, :name) do |specialty| %>
          <%= specialty.label class: 'checkbox-inline col-sm-2' do %>
            <%= specialty.check_box %>
            <%= specialty.object.name %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.label :confirmed_by_gi, class: 'checkbox-inline col-sm-2' do %>
        <%= f.check_box :confirmed_by_gi %>
        <%= :confirmed_by_gi.to_s.humanize %>
      <% end %>
    </div>
  </div>
  <div>

    <%= submit_tag 'Search For Locations', class: 'btn btn-info' %>
  <div>
<% end %>-->

<!-- Sticky Search -->
<script>
    $(window).load(function(){
      $(".stick").sticky({ topSpacing: 0 });
    });
</script>

<!-- Expand/Collapse -->
<script>
    $("button.arrow").on('click',function(e){
      $("button.arrow").toggleClass("cross");
      $(".menu").slideToggle("");
    });
</script>
