<% @service.specialties.each do |specialty| %>
    <div class="column">
        <div class="checkbox-wrap">
            <label class="control" for="search-form-specialties-<%= specialty.id %>"><%= specialty.name %>
                <input type="checkbox" id="search-form-specialties-<%= specialty.id %>" name="search_form[specialties][]" value="<%= specialty.id %>" <%= 'checked="checked"' if @search_form && @search_form.specialties.include?(specialty.id) %> />
                <div class="indicator"></div>
            </label>
        </div>
    </div>
<% end %>