<div class="search-container">
  <p>Gender Infinity provides this resource information for the benefit of the community. This list does not constitute an endorsement or recommendation by Gender Infinity.</p>
  <section class="secondary-content">

    <!-- Google Map -->
    <div class="wrapper">
      <div id="map"></div>
    </div>

    <!-- Results -->
    <address>
      <%= @locations.count %> result<%= 's' if @locations.count != 1 %> found within <%= @search_form.search_radius %> miles of <strong><%= @search_form.address %></strong>
    </address>

    <div class="location-results">
      <% @locations.each do |location| %>
        <div class="wrapper">
          <div class="primary-info">
            <span class="location"><h3><%= location.name %></h3></span>
            <span class="directions"><a class="btn" target="_blank" href="http://www.google.com/maps?saddr=<%= @search_form.address %>&amp;daddr=<%= location.address %>">Directions<em class="icon-circle-right"></em></a></span>
          </div>
          <div class="secondary-info">
            <ul>
                <li class="address"><%= location.address %></li>
                <li class="distance"><%= location.distance.round(2) %> Miles Away</li>
                <% if (location.phone.present?) %>
                  <li class="phone"><a href="tel:<%= location.phone %>"><%= location.phone %></a></li>
                <% end %>
                <% if (location.fax.present?) %>
                  <li class="fax"><%= location.fax %></li>
                <% end %>
                <% if (location.email.present?) %>
                  <li class="email"><a href="mailto:<%= location.email %>"><%= location.email %></a></li>
                <% end %>
                <% if (location.website.present?) %>
                  <li class="website"><%= auto_link(location.website) %></li>
                <% end %>
            </ul>
            <% if location.notes.present? %>
              <hr>
              <p class="about"><%= auto_link(location.notes) %></p>
            <% end %>
          </div>
          <div class="results-tags clear">
              <p>
                  <span class="icon-tag"></span>
                  <% location.specialties.each do |specialty| %>
                    <span class="tag"><%= specialty.name %></span>
                  <% end %>
              </p>
            </div>
        </div>
      <% end %>
    </div>
  </section>

  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map');
      var mapOptions = {
        center: new google.maps.LatLng(<%= @search.address_coordinates.first %>, <%= @search.address_coordinates.last %>),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      <% @locations.each do |location| %>
        new google.maps.Marker({
          position: {lat: <%= location.latitude %>, lng: <%= location.longitude %>},
          map: map,
          title: '<%= location.name %>'
        });
      <% end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <%= render 'form' %>
</div>
