<div id="search-page">
  <section class="secondary-content">

    <!-- Google Map -->
    <div class="wrapper">
      <div id="map"></div>
    </div>

    <!-- Results -->
    <address>
      <%= @locations.count %> result<%= 's' if @locations.count > 0 %> found within <%= @search_form.search_radius %> miles of <strong><%= @search_form.address %></strong>
    </address>

    <div class="location-results">
      <% @locations.each do |location| %>
        <div class="wrapper">
            <div class="primary-info">
              <span class="location"><%= location.name %></span>
              <span class="address"><%= location.address %></span>
              <% if (location.phone.present?) %>
                <span class="phone"><a href="tel:<%= location.phone %>"><%= location.phone %></a></span>
              <% end %>
              <% if (location.contact.present?) %>
                <span class="website"><%= auto_link(location.contact) %></span>
              <% end %>
            </div>
            <div class="secondary-info">
                <p><strong>About:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id congue mi, ut dapibus mi. Donec consectetur nisi sit amet nulla lobortis, eget porta ante rhoncus. Curabitur in lacus ornare, rutrum velit in, ornare lectus.</p>
                <p><strong>Directions:</strong> Sed lorem mauris, tempus tincidunt ornare et, scelerisque sed urna. Donec elit tellus, tincidunt ac auctor id, convallis feugiat orci. Sed rhoncus arcu in diam ornare, ut maximus nulla consequat.</p>
                <hr>
                <div class="results-tags">
                    <span class="icon-tag"></span>
                    <span class="tag"><a href="#">health</a></span>
                    <span class="tag"><a href="#">personal care</a></span>
                    <span class="tag"><a href="#">child/youth</a></span>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  </section>

  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map');
      var mapOptions = {
        center: new google.maps.LatLng(<%= @search.address_coordinates.first %>, <%= @search.address_coordinates.last %>),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      <% @locations.each do |location| %>
        new google.maps.Marker({
          position: {lat: <%= location.latitude %>, lng: <%= location.longitude %>},
          map: map,
          title: '<%= location.name %>'
        });
      <% end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <%= render 'form' %>
</div>
